@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

@font-face{
font-family: 'idroid';
src: url(../fontes/idroid.otf) format('opentype');
font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor01: #5671A6;
    --cor02: #04328C;
    --cor03: #033473;
    --cor04: #7891c4;
    --cor05: white;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: "Federo", sans-serif;
    --fonte-android: 'idroid', cursive
}

body{
   font-family: var(--fonte-padrao);
    background-color: var(--cor04);
}

header{
    /*background-image: linear-gradient(to bottom, #0f4ac2, #033473);*/
    background-color: var(--cor03);
    box-shadow: rgba(0, 0, 0, 0.171) 0px 19px 38px, rgba(0, 0, 0, 0.089) 0px 15px 12px;
    min-height: 130px; 
}

header > h1 {
    color: var(--cor05);
    font-family: var(--fonte-destaque);
    font-size: 60px;
    padding-left: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
    padding-top: 20px;
    margin: 0%;
}

header > p{
color: var(--cor04);
font-weight: bold;
margin-left: 15px;
text-align: justify;
font-size: 15pxpx;
padding-bottom: 5px;
padding-left: 10px;
margin: 0px;
text-align: justify;
}

nav{
    background-color: #0f5abb;
    padding: 10px;
}

nav > a {
    color:#D9D2D0;
    margin-right: 16px;
    margin-left: 17px;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgba(59, 37, 56, 0.473);
    box-shadow:rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;   
    font-weight: bold;
    font-size: 18px;
    transition-duration: .2s;
    
}

nav > a:hover{
    text-decoration: underline;
    background-color: #04318c3f;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 17px;
}


main{
    background-color: white;
    margin: auto;
    padding: 10px;

    min-width: 300px;
    max-width: 1200px;
    text-align: justify;
}


main h1 {
font-family: idroid;
font-size: 1.5em;
padding: 15px;
}


main h2{
    font-family: idroid;
    font-size: 1.5em;
    padding: 15px;
}


main p {
    text-indent: 25px;
    line-height: 2em;
    margin: 15px 0px;
}

main a{
    font-weight: bold;
}

div.video{
    background-color: #ffffff;
    margin: 30px -10px;
    padding: 2px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    position: absolute;
    top:5%;
    left: 5%;
    width: 90% ;
    height: 90%;
}

aside#list{
    background-color: #0f59bb1f;
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0px 0px 10px black;
}

aside > ul{
    list-style-type:' \1F36C';
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: #04328C;
    padding: 5px;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 0px 0px 0px;
}

aside > p {
    font-size: 17px;
    text-indent: 10px;
    line-height: 1em
    
}

footer{
      background-color: #033473;
      height: 40px;
      color: white;
      text-align: center;

    }

footer p{
        padding-top: 10px;
     }


img{
    width: 85%;
    display: block;
    margin: auto;
}

img#bugdroid{
    max-width: 370px;
    display: block;
    margin: auto;   
}

img#irina{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
}

img#dandroid{
    border: solid;
}

abbr{
    text-decoration: none;
}

a.externo::after{
    content: '\1F517'
}





